@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: var(--slate-1);
  color: var(--slate-12);
}
