@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Fira Code", monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(166, 72, 253);
  border-radius: 9999px;
}
